body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.admin-form {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

button {
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}





/*  */

.check {
    /* ... інші властивості */
    display: flex;
    justify-content: space-between; /* Розносить елементи в різні кінці контейнера */
    align-items: center; /* Вирівнює їх по центру по вертикалі */
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
}

.check label {
    display: flex; /* Робимо внутрішній label також flex-контейнером */
    align-items: center;
    gap: 10px;
}
